<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Welcome to MarcoBot</h2>
    <p>You can ask me anything!</p>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
Smooch.init({ appToken: '6n5i1ked3v67w3fb18wb6hgdu' });
</script>
</body>
</html>
